---
import ServicePage from "../components/ServicePage.jsx"
import Footer from "../components/Footer.jsx"
import NormalNavigation from "../components/NormalNavigation.jsx"
import ReusableHeroComponent from "../components/ReusableHeroComponent.jsx"
import ServiceNavigation from "../components/serviceNavigation.jsx"
---
<html lang="en">
<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Phantom_Huit</title>
	</head>
    <body>
	<ServiceNavigation client:load/>
	<ReusableHeroComponent 
        title="Our Services"
        client:load
        
        minHeight="50vh"
        opacity={60}
        titleClassName="text-xl md:text-2xl"
    />
    <ServicePage/>
	<Footer/>
    </body>
    </html>




	